<a href="https://colab.research.google.com/github/ronish645/Ronish380/blob/main/PandasDataManipulation_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

## Data cleaning

In this section, we will take a look at creating, renaming, and dropping columns; type conversion; and sorting &ndash; all of which make our analysis easier. We will be working with the 2019 Yellow Taxi Trip Data provided by NYC Open Data.

### Read the data

In [3]:
df = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')

##### DIsplaying the column names

In [4]:
column_names = df.columns.tolist()
print(column_names)

['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag', 'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge']

### Dropping columns
Let's start by dropping the ID columns and the `store_and_fwd_flag` column, which we won't be using.

The dollar sign $
is used to check if a matching character is the last character in the string. For example, the regular expression (at\.)$ means: a lowercase a, followed by a lowercase t, followed by a . character and the matcher must be at the end of the string.

"(at\.)" => The fat cat. sat. on the mat.

"(at\.)$" => The fat cat. sat. on the mat.

##### Dropping two columns

In [5]:
columns_to_drop = ['vendorid', 'store_and_fwd_flag']
df.drop(columns=columns_to_drop, inplace=True)

##### Saving the modified dataframe into the same file

In [6]:
output_file_path = ('2019_Yellow_Taxi_Trip_Data.csv')
df.to_csv(output_file_path, index=False)

##### Displaying the column names after modification

In [8]:
new_df = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')
print(new_df.columns)

Index(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
       'trip_distance', 'ratecodeid', 'pulocationid', 'dolocationid',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge'],
      dtype='object')

### Renaming columns

Next, let's rename the datetime columns to 'pickup' and 'dropoff':

##### Renaming column names and saving the modified dataframe into the the same file

In [9]:
new_column_names = {'tpep_pickup_datetime': 'pickup', 'tpep_dropoff_datetime': 'dropoff'}
df.rename(columns=new_column_names, inplace=True)
output_file_path = ('2019_Yellow_Taxi_Trip_Data.csv')
df.to_csv(output_file_path, index=False)

##### Displaying the column names

In [11]:
new_df = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')
print(new_df.columns)

Index(['pickup', 'dropoff', 'passenger_count', 'trip_distance', 'ratecodeid',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

### Type conversion

Notice anything off with the data types?

Both `pickup` and `dropoff` should be stored as datetimes. Let's fix this:

### Creating new columns

Let's calculate the following for each row:

1. elapsed time of the trip
2. the tip percentage
3. the total taxes, tolls, fees, and surcharges
4. the average speed of the taxi

In [12]:
#importing pandas and numpy libraries
import pandas as pd
import numpy as np

# creating and initializing a nested list
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]

# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# Apply function numpy.square() to square
# the values of one row only i.e. row
# with index name 'd'

In [13]:
# importing pandas and numpylibraries
import pandas as pd
import numpy as np

# creating and initializing a nested list
values_list = [[1.5, 2.5, 10.0], [2.0, 4.5, 5.0], [2.5, 5.2, 8.0],
               [4.5, 5.8, 4.8], [4.0, 6.3, 70], [4.1, 6.4, 9.0],
               [5.1, 2.3, 11.1]]

# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
# Apply function numpy.square() to square
# the values of 2 rows only i.e. with row
# index name 'b' and 'f' only

### Sorting by values

We can use the `sort_values()` method to sort based on any number of columns:

### [Exercise 2.1](./workbook.ipynb#Exercise-2.1)

##### Read in the meteorite data from the `Meteorite_Landings.csv` file, rename the `mass (g)` column to `mass`, and drop all the latitude and longitude columns. Sort the result by mass in descending order.

##### Load the CSV file into a DataFrame

In [15]:
import pandas as pd
df_met = pd.read_csv('Meteorite_Landings.csv')

##### Rename the mass (g) column to mass

In [17]:
df_met.rename(columns={'mass (g)': 'mass'}, inplace=True)

##### Drop latitude and longitude columns

In [18]:
df_met.drop(['reclat', 'reclong', 'GeoLocation'], axis=1, inplace=True)

##### Sort the DataFrame by mass in descending order

In [19]:
df_met.sort_values(by='mass', ascending=False, inplace=True)

##### Storing the modified dataframe into the same file

In [20]:
output_file_path = ('Meteorite_Landings.csv')
df_met.to_csv(output_file_path, index=False)

##### Displaying the data here (for the reference purpose) from the modified file

In [21]:
print(df_met.head())

                  name       id nametype      recclass        mass   fall  \
16392             Hoba  11890.0    Valid     Iron, IVB  60000000.0  Found
5373         Cape York   5262.0    Valid   Iron, IIIAB  58200000.0  Found
5365   Campo del Cielo   5247.0    Valid  Iron, IAB-MG  50000000.0  Found
5370     Canyon Diablo   5257.0    Valid  Iron, IAB-MG  30000000.0  Found
3455           Armanty   2335.0    Valid    Iron, IIIE  28000000.0  Found

                         year
16392  01/01/1920 12:00:00 AM
5373   01/01/1818 12:00:00 AM
5365   12/22/1575 12:00:00 AM
5370   01/01/1891 12:00:00 AM
3455   01/01/1898 12:00:00 AM